.MuiDialogTitle-root {
  padding: 16px 0px !important;
}
.MuiButton-textPrimary {
  color: #f59a22 !important;
}
.MuiButton-root {
  font-size: 16px !important;
}

.reset-password-page {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  height: calc(100vh - 300px);
}
