.slick-list {
  width: 100%;
  max-height: 400px;
}

.slick-slider .slider .slick-initialized {
  width: 100%;
}

.bannerImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  object-fit: cover;
  width: 100%;
}

.slick-prev {
  z-index: 2;
  left: 10px;
}

.slick-next {
  right: 10px;
  z-index: 2;
}

.slick-dots li button::before {
  color: #f59a22;
  width: 100%;
  font-size: 8px !important;
}

.magic-dots.slick-dots li.slick-active button:before {
  color: #f59a22;
  width: 100%;
  font-size: 8px !important;
}

.dots {
  position: absolute;
}

.magic-dots,
.slick-dots {
  margin-bottom: 15px !important;
}
