.login-submit {
  background-color: #ffffff;
  color: #f59a22;
  border-color: #f59a22;
  cursor: pointer;
  margin-top: 15px;
}

.login-submit:hover {
  border: none;
  background-color: #f59a22;
  color: #ffffff;
}

.forgot-password {
  margin-top: 15px;
  cursor: pointer;
  color: #363434;
}
