.searchbar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  &_input {
    width: 100%;
    height: 30px;
    border: none;
    font-style: italic;
    font-size: 15px;
    border-bottom: 1px solid #657274;
  }
  &_input:focus,
  textarea:focus,
  input:focus {
    outline: none;
    border-bottom: 1px solid #bb9654;
  }
}
